{% extends "Layouts/layout.twig" %}

{% block title %}
    Condominium Imperium | Esqueci a Senha
{% endblock title %}

{% block content %}
    
    <div class="container col-sm-12 col-12">

        <div id="boxForgot" class="wow bounceInUp rounded">
            <div id="alertCarrying" class="alert alert-success">
                asas
            </div>
            <form action="{{ appHost ~ 'forgot/password/send' }}" method="post" id="frmForgot" name="frmForgot">
                <h5 class="text-center text-secondary">Condominium Imperium </h5>
                <h5 class="text-center" id="icon"><i class="fas fa-crown"></i></h5>
                <div class="form-group">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text text-info"><i class="fas fa-at"></i></div>
                        </div>
                        <input type="email" class="form-control form-control-md" id="email" name="email" placeholder="Só digitar o e-mail aqui" maxlenght="200" required>
                        <small id="emailHelp" class="form-text text-muted">Será enviado um e-mail com o link para cadastrar sua nova senha.</small>
                    </div>
                </div>

                <button type="submit" class="btn btn-outline-info col-sm-12 col-12">Resetar</button>
                <p class="text-center">
                
                    <a href={{appHost}}>Voltar</a>
                    
                </p>
                
            </form>

        </div>

    </div>
    
{% endblock content %}
