{% extends "Layouts/layout.twig" %}

{% block title %}
    Condominium Imperium | Esqueci a Senha
{% endblock title %}

{% block content %}
    
    <div class="container col-sm-12 col-12">

        <div id="boxReset" class="wow bounceInUp rounded">

            {% if error != 'NA' %}

                <form action="{{ appHost ~ 'forgot/update/password/send/for/forgot' }}" method="post" id="frmLogin" name="frmLogin">
                    <h5 class="text-center text-secondary">Condominium Imperium </h5>
                    <h5 class="text-center" id="icon"><i class="fas fa-crown"></i></h5>

                    <input type="hidden" id="hash" name="hash" value={{ codeForReset }} required>

                    <div class="form-group">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text text-info"><i class="fas fa-key"></i></div>
                            </div>
                            <input type="password" class="form-control form-control-md" id="password" name="password" placeholder="Digite sua nova senha aqui" maxlenght="200" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text text-info"><i class="fas fa-key"></i></div>
                            </div>
                            <input type="password" class="form-control form-control-md" id="passwordEqual" name="passwordEqual" placeholder="Digite novamente" maxlenght="200" equalTo="#password" required>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-outline-info col-sm-12 col-12">Salvar</button>
                    <p class="text-center">
                    
                        <a href="{{appHost}}">Login</a>
                        
                    </p>
                    
                </form>

            {% else %}

                <div id="errorIntern">

                    <p class="alert alert-danger">{{ msgError }}</p>

                </div>

            {% endif %}

        </div>

    </div>
    
{% endblock content %}
