{% extends "Admin/layoutAdmin.twig" %}

{% block title %}

    Condominium Imperium | Área 
    {% if functionAccess == 'admin' %}
        Administrativa
    {% elseif functionAccess == 'worker' %}
        do Funcionário
    {% else %}
        Erro Interno
    {% endif %} | Cadastro de 
    {% if areaChoice == 'EE' %}
        Entradas e Saídas
    {% else %}
        Não Identificado
    {% endif %}

{% endblock title %}

{% block contentAdmin %}
    
    <h1>Cadastro de {% if areaChoice == 'EE' %}
        Entradas
    {% else %}
        Não Identificado
    {% endif %}</h1>

    {% if areaChoice == 'EE'%}
        <br>

        <form action="{{ appHost ~ 'storage/new/EE/Entrance' }}" name="frmCreateEE" id="frmCreateEE" method="POST" class="wow bounce">

            <input type="hidden" name="idUser" id="idUser" value="">
            <div class="card" style="width: 18rem;" id="cardProfile">
                <img id="imgEE" class="card-img-top" src={{ appHost ~ 'Storage/site/default.jpg' }} alt="Imagem de perfil">
                <div class="card-body">
                    <h5 class="card-title">Sua foto Atual</h5>
                </div>
            </div>
            <input type="hidden" name="urlInfor" id="urlInfor" value="{{ appHost }}">
            <div class="form-row">
                <div class="col">
                    <label class="form-check-label" for="chanceDocumentRG">
                        RG
                    </label>
                    <input class="form-check-input" type="radio" name="chanceDocument" id="chanceDocumentRG" value="opcRG" checked>
                </div>
                <div class="col">
                    <label class="form-check-label" for="chanceDocumentCPF">
                        CPF
                    </label>
                    <input class="form-check-input" type="radio" name="chanceDocument" id="chanceDocumentCPF" value="opcCFP">
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="documentSearch">Documento</label>
                    <input type="text" class="form-control" id="documentSearch" name="documentSearch" placeholder="Digite somente o número do documento" required>
                </div>
            </div>

            <fieldset disabled>
                
                <div class="form-row">
                    <div class="col">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Nome do documento solicitado" maxlength="200" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="fldEmail">Email</label>
                        <input type="email" class="form-control" id="fldEmail" name="fldEmail" placeholder="E-mail do documento solicitado" maxlength="255" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="rg">RG</label>
                        <input type="text" class="form-control" id="rg" name="rg" placeholder="RG do documento solicitado" maxlength="12" required>
                    </div>
                    <div class="col">
                        <label for="cpf">CPF</label>
                        <input type="text" class="form-control" id="cpf" name="cpf" placeholder="CPF do documento solicitado" maxlength="14" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <label for="phone">Telefone</label>
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="Telefone do documento solicitado" maxlength="20" required>
                    </div>
                    <div class="col">
                        <label for="birthday">Data de Nascimento</label>
                        <input type="date" class="form-control" id="birthday" name="birthday" placeholder="Data de nascimento do documento solicitado" required>
                    </div>
                </div>

            </fieldset>

            <div class="form-row">
                <div class="col">
                    <label for="fldLogin">Descrição da Entrada</label>
                    <textarea class="form-control col-12" id="descriptionEE" name="descriptionEE" placeholder="Digite uma descrição, caso necessário, como está com crianças ou idades." rows="4"></textarea>
                </div>
            </div>

            <button type="submit" class="btn btn-outline-primary col-12 col-sm-3"><i class="fas fa-arrow-right"></i> Registrar Entrada</button>

        </form>

    {% endif %}
    
{% endblock contentAdmin %}